.app {
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: aqua;
}

.wrapper {
  width: 40em;
  height: 15em;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.question {
  background-color: #101820ff;
  color: #fee715ff;
  font-size: 20px;
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.answers {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

button {
  width: 50%;
  background-color: #fee715ff;
  color: #101820ff;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: 1px solid aqua;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e20000;
  color: white;
  padding: 25px;
  font-size: 20px;
}